.formContainer
{
  margin: 60px;
}

.inputbox
{
  display: inline;

  margin: 10px;
}

.inputbox input
{
  font-size: 16px;
  font-weight: lighter;

  min-width: 0;
  margin-bottom: 20px;
  padding: 16.5px 16.5px;
  padding-right: 50px;

  color: inherit;
  border: 0;
  outline: 0;
  background: none;
  /*box-shadow: 0 0 0 1px #fff;*/
}

.inputbox input::-webkit-input-placeholder
{
  color: #fff;
}
.inputbox input::-moz-placeholder
{
  color: #fff;
}
.inputbox input:-moz-placeholder
{
  color: #fff;
}
.inputbox input:-ms-input-placeholder
{
  color: #fff;
}
